body{
    margin : 0;
    text-align: center;
    font-family: Georgia, serif;
}
h1{
  width: 100%;
  font-size: 5rem;
  margin: 0 auto 0 auto;  /* to center text when width is set*/
  font-family: 'Dawning of a New Day', cursive;
  color: #9C0F48;
}
h2{
  color: #03045E;
  font-family: 'Roboto Slab', serif;
}
h3{
  color: #219F94;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
div{

  height: auto;
  width: auto;
  background-color: #D6E5FA;
}
hr{
  border-style: dotted none none;
  border-color: darkgrey;
  border-width: 8px;
  height: 0px;
  width: 5%
}

.programmer{
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  margin-top: 0;
  color: #B8405E;
  font-weight: normal;

}
.top{
  height: 500px;
  width:auto;
  padding: 100px;
  background-color: #FBF8F1;
  position: relative;

}
.middle{
  padding: 50px;

}
.bottom{
  padding: 50px;
  background-color: #9AD0EC;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto; /* to center*/
  text-align: left; /*for wrapping text around image*/
  line-height: 1.5;
}
.skill-img1{
  width: 25%;
  float: left;
  margin-right: 40px;
}
.skill-img2{
  width: 25%;
  float: right;
  margin-right: 40px;
}
.intro{
  font-weight: bold;
}
.cloud1{
  position: absolute;
  right:450px;
  top:0;
}
.cloud2{
  position: absolute;
  left: 450px;
  bottom:300px;

}
.btn{
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  color: #219F94;
  padding: 10px;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #219F94 ;
}
.btn:hover {
  background-color: #219F94;
  color: white;
}
.footer{
  color: #495371;
}
